process {
    executor = 'awsbatch'
    queue = ''
}

aws {
    region = ''
    batch {
		// only required if the AWS CLI tool is installed in a custom AMI
        cliPath = '/home/ec2-user/miniconda/bin/aws'
    }
    client {
        maxConnections = 
    }
}

tower {
    accessToken = ''
    enabled = true
    workspaceId = ''
}

workDir = ''
