profiles {	
    teeny {	
        process {	
	withName: 'Trimming_SE' {		
            cpus = 1
            memory = '1 GB'	
        }	
	withName: 'Trimming_PE' {		
            cpus = 1
            memory = '1 GB'	
        }	
	withName: 'Aligning_SE' {		
            cpus = 4	
            memory = '4 GB'	
        }   
	withName: 'Aligning_PE' {		
            cpus = 4	
            memory = '4 GB'	
        }   
        withName: 'Viral_Identification' {
	    cpus = 1
	    memory = '100 MB'
	}
	withName: 'Consensus_Generation_Prep_SE' {		
            cpus = 1	
            memory = '100 MB'	
        }        
	withName: 'Consensus_Generation_Prep_PE' {		
            cpus = 1	
            memory = '100 MB'	
        }        
	withName: 'Consensus_Generation_SE' {		
            cpus = 4	
            memory = '4 GB'	
        }        
	withName: 'Consensus_Generation_PE' {		
            cpus = 4	
            memory = '4 GB'	
        }        
	withName: 'VCF_Generation' {		
            cpus = 2	
            memory = '2 GB'	
        }        
	withName: 'Serotyping' {		
            cpus = 1	
            memory = '500 MB'	
        }        
	withName: 'Summary_Generation' {		
            cpus = 1	
            memory = '100 MB'	
        }
	withName: 'Final_Processing' {		
            cpus = 1	
            memory = '100 MB'	
        }
        }
    }
    standard {	
        process {	
	withName: 'Trimming_SE' {		
            cpus = 2
            memory = '2 GB'	
        }	
	withName: 'Trimming_PE' {		
            cpus = 2
            memory = '2 GB'	
        }	
	withName: 'Aligning_SE' {		
            cpus = 8	
            memory = '8 GB'	
        }   
	withName: 'Aligning_PE' {		
            cpus = 8	
            memory = '8 GB'	
        }   
        withName: 'Viral_Identification' {
	    cpus = 2
	    memory = '200 MB'
	}
	withName: 'Consensus_Generation_Prep_SE' {		
            cpus = 2	
            memory = '200 MB'	
        }        
	withName: 'Consensus_Generation_Prep_PE' {		
            cpus = 2	
            memory = '200 MB'	
        }        
	withName: 'Consensus_Generation_SE' {		
            cpus = 8	
            memory = '8 GB'	
        }        
	withName: 'Consensus_Generation_PE' {		
            cpus = 8	
            memory = '8 GB'	
        }        
	withName: 'VCF_Generation' {		
            cpus = 4	
            memory = '4 GB'	
        }        
	withName: 'Serotyping' {		
            cpus = 2	
            memory = '1 GB'	
        }        
	withName: 'Summary_Generation' {		
            cpus = 2	
            memory = '200 MB'	
        }
	withName: 'Final_Processing' {		
            cpus = 2 	
            memory = '200 MB'	
        }
        }
    }
    jumbo {	
        process {	
	withName: 'Trimming_SE' {		
            cpus = 3
            memory = '3 GB'	
        }	
	withName: 'Trimming_PE' {		
            cpus = 3
            memory = '3 GB'	
        }	
	withName: 'Aligning_SE' {		
            cpus = 12	
            memory = '12 GB'	
        }   
	withName: 'Aligning_PE' {		
            cpus = 12	
            memory = '12 GB'	
        }   
        withName: 'Viral_Identification' {
	    cpus = 3
	    memory = '300 MB'
	}
	withName: 'Consensus_Generation_Prep_SE' {		
            cpus = 3	
            memory = '300 MB'	
        }        
	withName: 'Consensus_Generation_Prep_PE' {		
            cpus = 3	
            memory = '300 MB'	
        }        
	withName: 'Consensus_Generation_SE' {		
            cpus = 12	
            memory = '12 GB'	
        }        
	withName: 'Consensus_Generation_PE' {		
            cpus = 12	
            memory = '12 GB'	
        }        
	withName: 'VCF_Generation' {		
            cpus = 8
            memory = '8 GB'	
        } 
	withName: 'Serotyping' {		
            cpus = 3	
            memory = '1.5 GB'	
        }        
	withName: 'Summary_Generation' {		
            cpus = 3	
            memory = '300 MB'	
        }
	withName: 'Final_Processing' {		
            cpus = 3	
            memory = '300 MB'	
        }
        }
    }
    mammoth {	
        process {	
	withName: 'Trimming_SE' {		
            cpus = 4
            memory = '4 GB'	
        }	
	withName: 'Trimming_PE' {		
            cpus = 4
            memory = '4 GB'	
        }	
	withName: 'Aligning_SE' {		
            cpus = 16	
            memory = '16 GB'	
        }   
	withName: 'Aligning_PE' {		
            cpus = 16	
            memory = '16 GB'	
        }   
        withName: 'Viral_Identification' {
	    cpus = 4
	    memory = '400 MB'
	}
	withName: 'Consensus_Generation_Prep_SE' {		
            cpus = 4	
            memory = '400 MB'	
        }        
	withName: 'Consensus_Generation_Prep_PE' {		
            cpus = 4	
            memory = '400 MB'	
        }        
	withName: 'Consensus_Generation_SE' {		
            cpus = 16	
            memory = '16 GB'	
        }        
	withName: 'Consensus_Generation_PE' {		
            cpus = 16	
            memory = '16 GB'	
        }        
	withName: 'VCF_Generation' {		
            cpus = 12
            memory = '12 GB'	
        } 
	withName: 'Serotyping' {		
            cpus = 4	
            memory = '2 GB'	
        }        
	withName: 'Summary_Generation' {		
            cpus = 4	
            memory = '400 MB'	
        }
	withName: 'Final_Processing' {		
            cpus = 4	
            memory = '400 MB'	
        }
        }
    }
}

// Docker always true. Containers defined in each process
docker.enabled = true
