profiles {	
    standard {	
        process {	
	withName: 'Trimming_SE' {		
            cpus = 1
            memory = '1 GB'	
        }	
	withName: 'Trimming_PE' {		
            cpus = 1
            memory = '1 GB'	
        }	
	withName: 'Aligning_SE' {		
            cpus = 4	
            memory = '4 GB'	
        }   
	withName: 'Aligning_PE' {		
            cpus = 4	
            memory = '4 GB'	
        }   
        withName: 'Viral_Identification' {
	    cpus = 1
	    memory = '100 MB'
	}
	withName: 'Consensus_Generation_Prep_SE' {		
            cpus = 1	
            memory = '100 MB'	
        }        
	withName: 'Consensus_Generation_Prep_PE' {		
            cpus = 1	
            memory = '100 MB'	
        }        
	withName: 'Consensus_Generation_SE' {		
            cpus = 4	
            memory = '4 GB'	
        }        
	withName: 'Consensus_Generation_PE' {		
            cpus = 4	
            memory = '4 GB'	
        }        
	withName: 'Serotyping' {		
            cpus = 1	
            memory = '500 MB'	
        }        
	withName: 'Summary_Generation' {		
            cpus = 1	
            memory = '100 MB'	
        }
	withName: 'Final_Processing' {		
            cpus = 1	
            memory = '100 MB'	
        }
        }
    }
}

// Docker always true. Containers defined in each process
docker.enabled = true
